// Settings for iOS builds

SDKROOT = iphoneos6.1
IPHONEOS_DEPLOYMENT_TARGET = 6.0
TARGETED_DEVICE_FAMILY = 1,2
ARCHS = $(ARCHS_STANDARD_32_BIT)

GCC_FAST_MATH = YES

// So we can use c++'isms in obj C++ code =P
GCC_C_LANGUAGE_STANDARD = c99
CLANG_CXX_LANGUAGE_STANDARD = c++11

ALWAYS_SEARCH_USER_PATHS = NO
// GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO

GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// Not so bad for FP on arm7 devices. TODO: test
GCC_THUMB_SUPPORT = YES

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

PLATFORM_BUILD_SYMBOLS = CL_IOS
