// Settings for OSX builds

SDKROOT = macosx10.9
MACOSX_DEPLOYMENT_TARGET = 10.7
ARCHS = $(NATIVE_ARCH)
// ARCHS = $(ARCHS_STANDARD_32_BIT)

// GCC_VERSION = com.apple.compilers.llvmgcc42
// GCC_VERSION = com.apple.compilers.llvm.clang.1_0

GCC_FAST_MATH = YES

// So we can use c++'isms in obj C++ code =P
GCC_C_LANGUAGE_STANDARD = c99
CLANG_CXX_LANGUAGE_STANDARD = c++11
CLANG_CXX_LIBRARY = libc++

ALWAYS_SEARCH_USER_PATHS = NO
// GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO

ALWAYS_SEARCH_USER_PATHS = NO

// OSX linker
GCC_DYNAMIC_NO_PIC = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

PLATFORM_CFLAGS = -Wreturn-type
OTHER_CFLAGS = $(PLATFORM_CFLAGS)

PLATFORM_BUILD_SYMBOLS = CL_OSX
